@import '~antd/dist/antd.css';
body{
  background-color: #f8fafc;
}
.c-myorder{
  width: 100%;
  margin-top:110px;
  .c-list{
    width: 70%;
    height: 32px;
    margin: 20px auto;
    .c-item{
      display: inline-block;
      padding: 9px 20px;
      font-size: 12px;
      border-radius: 15px;
      cursor: pointer;
    }
    .c-title{
      font-size: 16px;
      color: #07111b;
      font-weight: 700;
      padding: 0 20px;
    }
    .c-black{
      &::after{
        content: '|';
        height: 20px;
        width: 1px;
        color: #d9dde1;
      }
    }
    .c-focus{
      background-color: #4d555d;
      color:white;
    }
    .to-mycart{
      float: right;
      font-size: 14px;
      color: #5e5e5e;
      font-weight: 200;
      &:hover{
        color: #f01414;
      }
    }
  }
  .c-desc{
    width: 70%;
    min-height: 550px;
    margin: 0 auto 50px;
    .order-none{
      font-size: 16px;
      color: #9199a1;
      text-align: center;
      line-height: 24px;
    }
    .order-list{
      border-radius: 5px;
      box-shadow: 0 2px 8px 2px rgba(0,0,0,.1);
      background-color: #fff;
      margin-top: 20px;
      font-size: 12px;
      span{
        margin:0 15px;
      }
      .order-title{
        padding: 25px;
        border-bottom: 1px solid #b7bbbf;
        .order-icon{
          font-size: 16px;
          color: #f01414;
        }
        .order-id{
          font-weight: 700;
          box-sizing: border-box;
          color: #4d555d;
        }
        .order-create-time{
          font-weight: 500;
          color: #93999f;
        }
      }
      .c-table{
        padding:10px;
        .col-left{
          border-right: 1px solid #d9dde1;
          .c-col-show{
            padding: 10px;
            .c-main-desc{
              margin-left: 20px;
              line-height: 40px;
              display: inline-block;
            }
            .course-img{
              width: 160px;
              height: 90px;
              display:inline-block;
              vertical-align:middle
            }
            .course-name{
              font-size: 16px;
              color: #07111b;
              line-height: 24px;
              vertical-align:top;
            }
            
          }
        }
        .col-mid{
          padding: 20px;
          line-height: 30px;

          border-right: 1px solid #d9dde1;
          .real-pay{
            font-size: 16px;
            color: #f01414;
          }
        }
        .col-right{
          text-align: center;
          margin-top: 20px;   
          .pay{
            display: inline-block;
            padding: 11px 32px;
            border-radius: 18px;
            font-size: 14px;
            cursor: pointer;
            color: white;
            background-color: rgba(240,20,20,0.8);
          }
          .cancel-order{
            display: inline-block;
            padding: 11px 32px;
            cursor: pointer;
          }
          .appending{
            font-size: 14px;
            color: #93999f;
          }
        }
      }
    }
  }
}
